.content {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  gap: 40px;
}

.skemaElement {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 160px;
  height: 255px;
  border: solid black 3px;
  padding: 20px;
  align-items: center;
  row-gap: 3px;
}

.sideNum {
  font-size: 30px;
  font-weight: 900;
}

.JaNejText {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.krydsBtn {
  height: 37px;
  width: auto;
  border-radius: 0px;
  border: solid black 4px;
  background-color: white;
  font-size: 30px;
  font-weight: 1000;
}

.krydsBtnJa {
  border-right: 0px;
}

.skemaNum {
  font-size: 40px;
  font-weight: 1000;
}
